html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding-top: 2rem;
  font-family: "Cabin", sans-serif;
  margin: 0;
  min-height: 100vh;
  height: auto;
  background-image: linear-gradient(
    to right bottom,
    #845ec2 5%,
    #2c73d2,
    #0081cf,
    #0089ba,
    #008e9b,
    #008f7a
  );

  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 5rem;
}

p {
  font-size: 1.5rem;
}

select {
  border-radius: 1rem;
  height: 3rem;
  border: none;
  font-size: 1.3rem;
  width: 20rem;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1.5rem;
}

button {
  border-radius: 1rem;
  width: auto;
  height: auto;
  padding: 0.8rem 2rem;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  background-color: hsl(16, 100%, 66%);
  transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -webkit-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
}

button:hover {
  background-color: hsl(16, 50%, 50%);
}

.image-gallery {
  width: 85%;
  height: auto;
  margin: 1rem auto;
  display: flex;
  flex-flow: row wrap;
}

.img-container {
  flex-basis: 20%;
  height: 200px;
  padding: 1%;
}

.img-inner-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .img-container {
    flex-basis: calc(100% / 3);
  }
}

@media (max-width: 375px) {
  body {
    padding-top: 4rem;
  }

  h1 {
    font-size: 4rem;
  }

  h1,
  p {
    max-width: 80%;
    text-align: center;
  }

  .image-gallery {
    width: 90%;
  }

  .img-container {
    flex-basis: 50%;
    height: 150px;
  }
}

::selection {
  background: #e0ebe8;
  color: #545454;
  text-shadow: none;
}
